* {
  box-sizing: border-box;
}

.root {
  background-color: #101116;
  font-family: "Roboto", sans-serif;
  color: rgb(244, 240, 240);
  font-size: 1em;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
}

.title {
  font-size: 1.5em;
}

.subtitle {
  font-size: 1.25em;
  color: #587099;
  font-weight: 800;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-style {
  width: 90%;
  background-color: #101116;
  color: rgb(244, 240, 240);
  border: 2px dashed #587099;
  border-radius: 2px;
  margin-bottom: 20px;
  resize: none;
}

.form__btn {
  background-color: #587099;
  color: rgb(244, 240, 240);
  border: none;
  padding: 5px 10px 5px 10px;
  margin-bottom: 20px;
}

.avatar__size {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.chat__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat__userDate {
  display: flex;
  align-items: center;
}
.nickname,
.dateNow {
  color: #587099;
  font-weight: 800;
}
.line__border {
  border-bottom: 2px dashed #587099;
}

.dateNow {
  text-align: left;
}

.form__radio {
  margin-bottom: 20px;
}

.form__radio1 {
  margin-left: 20px;
}
